

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
	background-image: url("images/add.png");
	background-repeat: no-repeat;
	background-position: center;
}

td input:FIRST-CHILD {
		display: none;
}

input[type=image] {
	position: relative;
	left: 26px;
}
